@font-face {
  font-family: 'JetBrains Mono', monospace;
  font-style: normal;
  font-weight: 400;
  src: local('JetBrains Mono'), url(/usr/share/fonts/TTF/JetBrainsMono-Bold.ttf);
}
@font-face {
  font-family: 'JetBrains Mono', monospace;
  font-style: normal;
  font-weight: 400;
  src: local('JetBrainsMono'), local('/usr/share/fonts/TTF/JetBrainsMono-Regular.ttf');
}
